# Python dependencies and environments
venv/
.venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production build directories
dist/
build/
web-build/

# Expo / React Native files
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# System/IDE files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
